/* style of main body  */
body {
    margin:0; /*Fills to edges of screen*/
}

header {
    width:100%;
    position: fixed;
    background:inherit;
    z-index:5;
}

/*style of logo*/
header .box{
    float:left;
    width:60px;
    height:auto;
    margin-right:10px;
    margin-top: 10px;
}

/* Style the header */
header h1.header {
    background-color:#5689A0;
    margin: 0;
    padding: 6px;
    width: 100%;
}

/* styling of stripe colour on page */
header h2.header2{
    background-color:purple;
    padding: 2px;
    margin: 0px;
}
/* style of section that holds username and icon */
header section{
    position:fixed;
    right: 0;
    margin-top: 6px;
    display:inline-flex;
    vertical-align:top;
}
/* sizing of icon */
header .material-icons{
    font-size: 32px;
}

/* sizing of font */
header p{
    color:black;
    line-height:2px;
}

/* setting the display layout of navigation bar */
nav{
    display:grid; 
}

/* styling of navigation bar */
nav ul{
    list-style-type: none;
    display:block;
    margin: 0;
    margin-top: 53px;
    padding: 0;
    width: fit-content;
    background-color:#5689A0;
    color: black;
    height: 100%; /* Navbar Full height */
    position: fixed; /* Making it stay in same postion, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    z-index: 5; /* making sure content scrolls behind navbar */
}

nav ul li{
    text-align: center;
}

/* styling of navbar page titles*/
nav ul li a{
    display: block;
    color:black;
    padding: 8px 16px;
    text-decoration: none;
}

/* colour when a page is click */
nav ul li a.current{
    background-color:rgb(140, 30, 173);
    color:white;
}

/* colour when hovering over page tab */
 nav ul li a:hover:not(.current){
    background-color:rgb(11, 137, 187);
}






