/*background colour of whole page*/
body{
    background-color:antiquewhite
}

/*postioning of form*/
form{
    background-color:#5689A0;
    width: 500px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid purple;
}

/*style of logo*/
form .logocontainer .image .logo{
    width:10%;
    height:auto;
    margin-top: 3px;
    margin-left: 15%;
    float: left;
    margin-right:2%
}

/*style of title "Smart Stirrer Board"*/
form .logocontainer .image h1{
    margin:0;
    color:white;
    font-weight: lighter;
    height:fit-content;
}

/*styling of under border*/
form .border{
    background-color:purple;
    height: 2px;
    width: 500px;
    float: left;
}

/*setting postion of input fields on form*/
.infocontainer{
    margin-top: 150px;
    display:block;
}

/*styling of icons for name, usernamae and password*/
form .infocontainer .fullname i, form .infocontainer .username i, form .infocontainer .password i{
    color: white;
    float: left;
    margin-top: 3%;
    margin-left: 20px;
    border: 2px solid white;
}

/*styling of nam, username and passwprd labels*/
form .infocontainer .fullname label, form .infocontainer .username label, form .infocontainer .password label{
    color: white;
    float:left;
    margin-right:15px;
    margin-left:1%;
    vertical-align: middle;
    margin-top: 4%;
}

/*styling of input fields for username and password*/
form .infocontainer input[type=text], form .infocontainer input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
  }

  /*styling register button*/
form .infocontainer button{
    background-color: purple;
    color: white;
    padding: 5px 1px;
    margin-top: 10%;
    border: none;
    cursor: pointer;
    width: 25%;
}

/*centring register button*/
form .infocontainer{
    text-align: center;
}

form .container{
    margin-top: 2%;
    text-align: center;
}
